.nav-bar {
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    clear: both;
    clear-after: both;
    text-align: center;
    font-weight: bolder;
}

.nav-bar .nav-float-left
{ float: left; }

.nav-bar .nav-float-right
{ float: right; }

.nav-button {
    /*background-color: black;*/
    background-color: transparent;
    border-radius: 7px;
    position: relative;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.nav-settings-button-bottom-row .nav-settings-button {
    font-weight: bolder;
}
